:root {
  --ifm-color-primary: #2467c2;
  --ifm-color-primary-dark: #205daf;
  --ifm-color-primary-darker: #1f58a5;
  --ifm-color-primary-darkest: #194888;
  --ifm-color-primary-light: #2871d5;
  --ifm-color-primary-lighter: #3077d9;
  --ifm-color-primary-lightest: #4d8ade;
}

[data-theme='dark'] {
  --ifm-color-primary: #4793cf;
  --ifm-color-primary-dark: #3486c6;
  --ifm-color-primary-darker: #317ebb;
  --ifm-color-primary-darkest: #28689a;
  --ifm-color-primary-light: #5da0d5;
  --ifm-color-primary-lighter: #68a6d8;
  --ifm-color-primary-lightest: #89bae0;
}
