:root {
  --ifm-color-primary: #2467c2;
  --ifm-color-primary-dark: #205daf;
  --ifm-color-primary-darker: #1f58a5;
  --ifm-color-primary-darkest: #194888;
  --ifm-color-primary-light: #2871d5;
  --ifm-color-primary-lighter: #3077d9;
  --ifm-color-primary-lightest: #4d8ade;
}

[data-theme='dark'] {
  --ifm-color-primary: #ee802f;
  --ifm-color-primary-dark: #ec7015;
  --ifm-color-primary-darker: #e06a12;
  --ifm-color-primary-darkest: #b8570f;
  --ifm-color-primary-light: #f09049;
  --ifm-color-primary-lighter: #f19857;
  --ifm-color-primary-lightest: #f4b07e;
}